@font-face {
    font-family: "Pixelify Sans";
    font-weight: 400;
    src: url(./fonts/PixelifySans/PixelifySans-Regular.ttf);
}

@font-face {
    font-family: "Pixelify Sans";
    font-weight: 500;
    src: url(./fonts/PixelifySans/PixelifySans-Medium.ttf);
}

@font-face {
    font-family: "Pixelify Sans";
    font-weight: 600;
    src: url(./fonts/PixelifySans/PixelifySans-SemiBold.ttf);
}

@font-face {
    font-family: "Pixelify Sans";
    font-weight: 700;
    src: url(./fonts/PixelifySans/PixelifySans-Bold.ttf);
}