@import "./fonts.scss";

html, body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: "Retro Gaming", sans-serif;
  background: black;
  color: white;
}

.novel-game-main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.novel-reader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .reader-toolbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-content: center;
  }

  .reader-main {
    width: 100%;
    height: 100%;
    .reader-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.reader-pause {
  .return-button {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
  }
}

.button {
  font: inherit;
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  &.disabled {
    cursor: not-allowed;
    opacity: 25%;
  }
  &:hover:not(.disabled) {
    background: white;
    color: black;
  }
}

.menu-button {
  font-size: 40px;
  padding: 10px 20px;
  border: 5px solid white;
  &:hover:not(.disabled) {
    font-weight: 700;
    padding: 10px 30px;
  }
}

.icon-button {
  display: flex;
  padding: 10px;
  .icon {
    background-color: white;
    mask-size: cover;
  }
  &.sm {
    .icon {
      width: 28px;
      height: 28px;
    }
  }
  &.md {
    .icon {
      width: 48px;
      height: 48px;
    }
  }
  &.lg {
    .icon {
      width: 68px;
      height: 68px;
    }
  }
  &:hover:not(.disabled) {
    .icon {
      background-color: black;
    }
  }
}

.render-block {
  font-size: 40px;
  max-width: 1200px;

  .block-content {
    padding: 50px;
  }

  .render-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .speaker {
      font-weight: bold;
      opacity: 50%;
    }
  }

  .render-choice {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 5px solid white;
    padding: 30px;

    .render-option {
      cursor: pointer;
      text-align: left;
      line-height: 60px;
    }
  }
}

.render-error-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;

  .render-errors {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .render-error {
    padding: 15px;
    display: flex;
    gap: 15px;
    background-color: rgb(255, 66, 66);
    border: 3px solid white;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;

      .message {
        font-size: 16px;
      }
      
      .line {
        font-size: 14px;
        opacity: 75%;
      }
    }
  }
}
